<div class="col s12 m12 l12 xl12">
  <div class="home-search-bar-container">
    <div class="app-search-bar-wrapper left-align" [class.app-hover]="searchStr">
      <div class="input-field">
        <ng2-completer #completer (keyup)="onKeyUp($event)" (selected)="onSelected($event)" [(ngModel)]="searchStr"
                       [matchClass]="'highlight'"
                       [datasource]="service" [minSearchLength]="1" [inputId]="autocomplete-input" [inputClass]="'autocomplete'"
                       [placeholder]="'searchbar.library' | translate" [inputName]="'autocomplete-input'">
        </ng2-completer>
      </div>
      <i mz-icon-mdi [icon]="'magnify'" (click)="onMagnifyIconClick()" class="app-cursor-pointer"></i>
      <i *ngIf="searchStr" mz-icon-mdi [icon]="'close'" (click)="cleanQuery()" class="app-cursor-pointer" mz-tooltip
         [tooltip]="'searchbar.delete_query' | translate" [position]="'top'"></i>
    </div>
    <div>
      <a (click)="onSearchButtonClick()" class="enter-button">
        <span>{{(searchStr ? 'home.btn_search' : 'home.btn_enter') | translate}}</span>
      </a>
    </div>
  </div>
</div>
