.overlay {
  position: fixed;
  display: block;
  width: fit-content;
  height: 20px; //vo FireFoxe nefunguje fit-content
  padding: 4px;
  top: 0;
  left: 36%;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 10000;
  cursor: pointer;
  text-align: -webkit-center;
  font-size: 0.8em;
}

td {
  font-size: 0.7em;
}
